@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Tangerine:wght@700&display=swap');

@keyframes fade {
  from {opacity: 0};
  to {opacity: 1};
}

#mainTit {
    font: normal 100pt Tangerine;
    text-shadow: 2px 2px 2px rgb(185, 183, 183);
    text-align: center;
}

.cars {
    font: normal 40pt Tangerine;
    color: gray;
    text-shadow: 2px 2px 8px rgb(165, 161, 161);
}

.vid {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: -1000;
}

div.back {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.carro {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation: fade 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
}

figcaption#lam {
    margin-top: -90px;
    font: bolder 80px Tangerine;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px darkgray;
    animation: fade 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 2;
}

#foot {
  width: 50px;
}